body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    border: 2px solid #000;
}

.sidenav a {
    padding: 5px 1px 15px 32px;
    text-decoration: none;

    color: #252525;
    display: block;
    transition: 0.3s;
}

.side_subtitle{
    font-size: 15px;
    margin-left: 15px ;
}

.side_title{
    font-size: 25px;
}

.sidenav-icon{
    margin-left: 12px;
    text-align: center;
    height: 30px;
    width: 50px;
    display: inline-block;
    border: 1px solid #000;
    color: #252525;
}

.sidenav a:hover, .offcanvas a:focus, .sidenav-icon:hover   {
    color: #000;
}

.sidenav .closebtn {
    position: absolute;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    margin-left: 250px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 0px;}
    .sidenav a {font-size: 18px;}
}

#mySidenav{
    width: 250px;
}

#main_head{
    background-color: #000;
    color: #f1f1f1f1;
    height: 50px;
    width: 100%;
}

.main_order{
    border: 2px solid #000;
    width: 1200px;
    height: 50px;

}
#main_order1, #main_order2, #main_order3{
    text-align: center;
    width: 390px;
    height: 100%;
    display: inline-block;
}
#main_order2, #main_order3{
    border-left: 2px solid #000;
}

.main_body_row{
    margin-top: 20px;
}

.main_body{
    margin-left: 20px;
}

#main_notadmin{
    width: 1200px;
    border: 2px solid #000;
}

#reserve_schedule{
    width: 1200px;
    border: 2px solid #000;
}

#order_stats{
    width: 1200px;
    border: 2px solid #000;
    text-align: center;
}

#stats_calender{

    width: 590px;
    border: 2px solid #000;
    display: inline-block;
}

#main_img{
    cursor: pointer;
}

#notadmin_body, #reserve_body, #notadmin_page, #main_reserve_page{
    text-align: center;
}