body {
    font-family: "Lato", sans-serif;
    background-color: white;
}

#main_img{
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    border: 2px solid #000;
}

.sidenav a {
    padding: 5px 1px 15px 32px;
    text-decoration: none;

    color: #252525;
    display: block;
    transition: 0.3s;
}

.side_subtitle{
    font-size: 15px;
    margin-left: 15px ;
}

.side_title{
    font-size: 25px;
}

.sidenav-icon{
    margin-left: 12px;
    text-align: center;
    height: 30px;
    width: 50px;
    display: inline-block;
    border: 1px solid #000;
    color: #252525;
}

.sidenav a:hover, .offcanvas a:focus, .sidenav-icon:hover   {
    color: #000;
}

.sidenav .closebtn {
    position: absolute;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#regService {
    margin-left: 250px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 0px;}
    .sidenav a {font-size: 18px;}
}

#mySidenav{
    width: 250px;
}

#regService_head{
    background-color: #000;
    color: #f1f1f1f1;
    height: 50px;
    width: 100%;
}

.regService_row{
    margin-top: 10px;
}

.regService_body{
    margin-left: 20px;
}

#reg_seller, #reg_service, #more_info{
    width: 1200px;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    padding: 10px;
}

#more_info{
    height: 180px;
}

#register_btn{
    text-align: center;
    background-color: #000;
    color: #ffffff;
    width: 180px;
    height: 40px;
    margin: auto;
}